@import "tailwindcss";
@source "../../../packages/ui/src";

/* Cursor: "Pink with Sparkles" by ツ☪ NaLexnu ♡♥
   http://www.rw-designer.com/cursor-set/pink-with-sparkles-by-mimidestin
   License: CC Attribution + Noncommercial */
@layer base {
    *,
    *::before,
    *::after {
        cursor:
            url("/cursors/normal-0.png") 1 1,
            auto;
    }
}

.animated-cursor-ready *,
.animated-cursor-ready *::before,
.animated-cursor-ready *::after {
    cursor: none !important;
}

body {
    font-family: "Press Start 2P", cursive;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
