@import "tailwindcss";

/* Cursor: "Pink with Sparkles" by ツ☪ NaLexnu ♡♥
   http://www.rw-designer.com/cursor-set/pink-with-sparkles-by-mimidestin
   License: CC Attribution + Noncommercial */
@layer base {
    *,
    *::before,
    *::after {
        cursor: none !important;
    }
}

body {
    font-family: "Press Start 2P", cursive;
}
